body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    width: 100%;
    margin-bottom: 5px; /* Отступ снизу */
}

.header {
    width: 100%;
}

.header img {
    width: 100%;
    height: auto;
    display: block;
}


/* Стили для устройств с шириной экрана до 768px */
@media only screen and (max-width: 768px) {
    .header img {
        width: 100%;
        height: auto;
    }
}
