#banner {
    width: auto; /* Установка ширины "auto" для контейнера */
    height: 400px; /* Высота баннера */
    margin: 20px auto; /* Отступ сверху и снизу, а также автоматическое выравнивание по центру */
    text-align: center; /* Центрирование содержимого баннера */
    white-space: nowrap; /* Отмена переноса строки */
    overflow-x: auto; /* Горизонтальная прокрутка, если содержимое контейнера превышает его ширину */
}

.slide {
    width: 400px; /* Ширина каждой фотографии */
    height: 400px; /* Высота каждой фотографии */
    display: inline-block; /* Отображение фотографий в одну линию */
    vertical-align: top; /* Выравнивание по верхнему краю, чтобы изображения не выравнивались по базовой линии */
    object-fit: cover; /* Масштабирование изображения с сохранением пропорций и обрезкой, чтобы оно заполнило всю доступную область */
    margin-right: 20px; /* Отступ между фотографиями */
}

.slide:last-child {
    margin-right: 0; /* У последней фотографии нет правого отступа */
}

/* Для устройств с шириной экрана до 768px (например, планшеты) */
@media screen and (max-width: 768px) {
    #banner {
        height: 120px; /* Уменьшаем высоту баннера */
        overflow-x: hidden;
    }
    .slide-container {
        overflow-x: hidden; /* Скрываем содержимое, выходящее за границы */
    }
    .slide {
        width: 120px; /* Уменьшаем ширину фотографий */
        height: 120px; /* Уменьшаем высоту фотографий */
        margin-right: 10px; /* Уменьшаем отступ между фотографиями */
        animation: slideLeft 10s infinite linear;
    }
    /* Добавляем анимацию для фотографий */
    @keyframes slideLeft {
        0% {
            transform: translateX(0); /* Начальное положение: не сдвигаем */
        }
        100% {
            transform: translateX(-100%); /* Конечное положение: сдвигаем влево на 100% */
        }
    }
}

/* Для устройств с шириной экрана от 768px до 1200px (например, ноутбуки) */
@media screen and (min-width: 768px) and (max-width: 1400px) {
    #banner {
        height: 180px; /* Изменяем высоту баннера */
    }

    .slide {
        width: 180px; /* Изменяем ширину фотографий */
        height: 180px; /* Изменяем высоту фотографий */
        margin-right: 15px; /* Изменяем отступ между фотографиями */
    }
}

/* Для устройств с шириной экрана больше 1200px (например, десктопы) */
@media screen and (min-width: 1400px) and (max-width: 2150px) {
    #banner {
        height: 250px; /* Увеличиваем высоту баннера */
    }

    .slide {
        width: 250px; /* Увеличиваем ширину фотографий */
        height: 250px; /* Увеличиваем высоту фотографий */
        margin-right: 25px; /* Увеличиваем отступ между фотографиями */
    }
}
